/*site2.css*/
#main label{
	font-weight:bold;
}
#main input[type=text],
#main select{
	width:150px;
	border:solid 2px blue;
}
#main input[type=button]{
	background-color:orange;
	color:white;
	border:1px yellow;
	border-radius:15px;
	padding:10px;
	margin:10px;
	font-weight:bold;
	font-size:20px;
}
#footer{
	border:solid 2px pink;
	background-color:lightgrey;
	font-family:serif;
	font-size:15px;
	margin:15px 0;
	padding:15px;
}
#list{
	color:green;
	font-weight:bold;
}