/*schedule.css*/
.head3{
    color: purple;
}
.picture{
    height: 90;
    width: 150;
}
table.scheduleTable,table.displaySchedule{
    border-collapse: collapse;
    width: 30%;
}
table.hotelExperience{
    border-collapse: collapse;
    width: 70%;
}
th,td{
    padding: 8px;
    text-align: left;
    border-bottom: solid 1px darkgrey;
}
table.scheduleTable tr:nth-child(even){background-color: wheat;color:black;}
table.scheduleTable tr:nth-child(odd){background-color: lavender;color: navy;}
table.scheduleTable tr:hover{
    background-color: seashell;
}

table.displaySchedule th{
    font-family: serif;
    font-size: 20px;
    background-color: palevioletred;
    color: white;
}
table.displaySchedule tr:hover{
    background-color: thistle;
    color: white;
}
table.hotelExperience th{background-color: gainsboro;color: maroon;}
table.hotelExperience tr:nth-child(odd){background-color: lightgrey;color:firebrick;}
table.hotelExperience tr:hover{background-color: sandybrown;}