/*table.css*/
table.tableAA th{
    background-color: cadetblue;
    color: white;
}
table.tableAA tr:nth-child(even){
    background-color: grey;
    color: whitesmoke;
}
table.tableAA tr:nth-child(odd){
    background-color: lightgoldenrodyellow;
    color: black;
}
table.tableAA{
    border-collapse: collapse;
    width: 65%;
}
table.tableBB{
    border-collapse: collapse;
    width: 65%;
}
table.tableBB tr.rowH{
    border-bottom: grey;
    padding: 8px;
    text-align: right;
}
table.tableBB th{
    background-color: lightcoral;
    color: whitesmoke;
}
table.tableBB tr.rowH:hover{
    background-color:lightgoldenrodyellow;
}
table.tableBB tr.rowH:nth-child(odd){
    background-color: seashell;
    color: firebrick;
}
table.tableBB tr.rowH:nth-child(even){
    background-color:gainsboro;
    color:white;
}
table.tableCC{
    border-collapse: collapse;
    width: 65%;
}
table.tableCC th{
    background-color: mediumorchid;
    color: whitesmoke;
    padding: 10px;
}
table.tableCC tr.rowQ:nth-child(even){
    background-color: mintcream;
    color: navy;
}
table.tableCC tr.rowQ:nth-child(odd){
    background-color: lightgrey;
    color:white;
}