/*.wrapper {
    margin-left: 120px !important;
}*/

.card .btn{
    color: rgb(243, 231, 231) !important;
    background-color: rgb(107, 160, 122) ;
}

.bd-navbar {
    min-height: 2rem;
    background-color: #3E6259;
    box-shadow: #212922 0 3px 12px 3px;
    top: 0;
    position: sticky;
    z-index: 1300;
}
.site-title {
    color: rgb(243, 231, 231) !important;
    margin-left: 10px;
}

.logo {
    width: 45px;
    height: auto;
    float: left;
}