/*onTrack.css*/
.pictureA{
    height: 150px;
    width: 200px;
    align: bottom;
}
.pictureB{
    height: 100px;
    width: 150px;
}
h1{background-color:whitesmoke;color: gray;}
h2{
    font-family: serif;
    font-style: italic;
    color: darkviolet;
}